---
- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: validate nginx configuration
  ansible.builtin.command: nginx -t -c /etc/nginx/nginx.conf
  changed_when: false

- name: reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
  when: nginx_service_state == "started"

- name: apply sysctl settings
  ansible.builtin.command: sysctl --system
  changed_when: false

- name: daemon reload
  ansible.builtin.systemd:
    daemon_reload: true
  when: ansible_facts.service_mgr == 'systemd'
