---
- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Validate nginx configuration
  ansible.builtin.command: nginx -t -c {{ nginx_conf_file_path }}
  changed_when: false

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
  when: nginx_service_state == "started"

- name: Apply sysctl settings
  ansible.builtin.command: sysctl --system
  changed_when: false

- name: Daemon reload
  ansible.builtin.systemd:
    daemon_reload: true
  when: ansible_facts.service_mgr == 'systemd'
