# Default server block - catches all unmatched requests
# Managed by Ansible - eyebrowkang.nginx role
# This prevents leaking real hostnames when clients connect with unknown Host header

# HTTP default server
server {
    listen 80 default_server;
{% if nginx_listen_ipv6 %}
    listen [::]:80 default_server;
{% endif %}
    server_name _;
    return {{ nginx_default_server_return }};
}

{% if nginx_ssl_default_cert_enabled %}
# HTTPS default server
server {
    listen 443 ssl default_server;
{% if nginx_listen_ipv6 %}
    listen [::]:443 ssl default_server;
{% endif %}
    server_name _;

    ssl_certificate {{ nginx_ssl_certs_path }}/default/cert.pem;
    ssl_certificate_key {{ nginx_ssl_certs_path }}/default/key.pem;

    include {{ nginx_conf_path }}/ssl-params.conf;

    return {{ nginx_default_server_return }};
}
{% endif %}
