# Nginx log rotation configuration
# Managed by Ansible - eyebrowkang.nginx role

/var/log/nginx/*.log {
    daily
    rotate {{ nginx_logrotate_days }}
    maxsize 100M
    missingok
    compress
    delaycompress
    notifempty
    create 0640 {{ nginx_user }} adm
    sharedscripts
    postrotate
        if [ -f {{ nginx_pidfile }} ]; then
            kill -USR1 $(cat {{ nginx_pidfile }})
        fi
    endscript
}
